.drivers_main_cont {
  width: 93%;
  height: 100%;
  margin: 13px 96px 0;
  padding: 0;
  /* background-color: #fff; */
}

.second_main_cont {
  width: 100%;
  height: 60px;
  border-radius: 20px;
  /* background-color: rgba(146, 167, 199, 0.28); */
  background-color: #fff;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.drivers_slc_box {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.drivers_slc_box select {
  width: 96%;
  height: 30px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  background: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: rgba(101, 101, 101, 0.8);
}

/* ! Resize Table Style */
.drivers_table {
  width: 100%;
  height: 100%;
  display: grid;
  overflow: auto;
  grid-template-columns:
    minmax(130px, 3fr)
    minmax(125px, 3fr)
    minmax(150px, 3fr)
    minmax(130px, 1fr)
    minmax(180px, 1fr)
    minmax(130px, 1fr)
    minmax(150px, 3fr)
    minmax(150px, 1fr)
    minmax(130px, 3fr)
    minmax(130px, 3fr)
    minmax(120px, 1fr);
}
