/* ! Dialog Window Edit Drivers start */

/* ? top start */
.edit_drivers_title {
  width: 100%;
  height: 65px;
  border-bottom: 3px solid #004665;
  display: flex;
  align-items: center;
}

.edit_drivers_title p {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #011a38;
  margin-left: 33px;
}
/* ? top end */

/* ? main start */
.edit_dr_main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.dr_main_cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 760px;
  height: 53px;
}

.dr_main_cont_2 {
  width: 760px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.dr_main_cont_3 {
  width: 760px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.cont_inner {
  display: flex;
  flex-direction: column;
  width: 355px;
  height: 53px;
}

.cont_inner_2 {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 53px;
}

.cont_inner_3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 460px;
  height: 53px;
}

.cont_inner_sl {
  width: 250px;
  height: 53px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dr_main_cont_bt {
  width: 200px;
  height: 53px;
  display: flex;
  flex-direction: column;
}

.dr_main_cont_2 input {
  width: 122px;
  height: 30px;
  border: 3px solid #004665;
  border-radius: 5px;
}

.cont_inner input {
  width: 341px;
  height: 30px;
  background: rgba(146, 167, 199, 0.28);
  border-radius: 5px;
  border: none;
}

.cont_inner_2 input {
  width: 386px;
  height: 30px;
  background: rgba(146, 167, 199, 0.28);
  border-radius: 5px;
  border: none;
}

.cont_inner_3 input {
  width: 446px;
  height: 30px;
  background: rgba(146, 167, 199, 0.28);
  border-radius: 5px;
  border: none;
}

.cont_inner_sl select {
  width: 236px;
  height: 30px;
  background: rgba(146, 167, 199, 0.28);
  border-radius: 5px;
  border: none;
  color: #004665;
}

.dr_main_cont_bt select {
  width: 186px;
  height: 30px;
  background: rgba(146, 167, 199, 0.28);
  border-radius: 5px;
  border: none;
  color: #004665;
}

input::placeholder {
  color: #004665;
}

label {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: rgba(23, 23, 23, 0.76);
}

/* ? main end */

/* ? bottom start */
.edit_dr_btm {
  width: 100%;
  height: 64px;
  border-top: 3px solid #004665;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.edit_dr_btm button {
  height: 30px;
  background: rgba(146, 167, 199, 0.28);
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #004665;
  border: none;
}

.dr_close_btn {
  width: 53px;
}

.dr_save_btn {
  width: 41px;
  margin: 17px 30px 17px 25px;
}

/* ? bottom end */

/* ! */
.drivers_edit_confirm {
  width: 800px;
  height: 486px;
  background: #fff;
  transition: 0.6s;
  z-index: 100;
  position: absolute;
  top: -1000px;
  left: calc(40% - 200px);
  border-radius: 15px;
}

.drivers_edit_confirm.drivers_show {
  top: calc(50% - 10px);
}

.drivers_confirm_content {
  width: "800px";
  height: "486px";
}
.dr_edit__main_box {
  width: 100%;
  height: 357px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.drivers_edit_overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(28, 36, 52, 0.67);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.drivers_edit_confirm.drivers_show + .drivers_edit_overlay {
  display: block;
}
/* ! Dialog Window Drivers Edit end */

/*  */

/* ! Truck Status start */

/* ? Top */
.status_drivers_title {
  width: 100%;
  height: 65px;
  border-bottom: 3px solid #004665;
  display: flex;
  align-items: center;
}

.status_drivers_title p {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #011a38;
  margin-left: 33px;
}

/* ? main box */
.dr_status__content {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.dr_status__content p {
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  color: #004665;
}

/* ? bottom */
.dr_status_btm {
  width: 100%;
  height: 64px;
  border-top: 3px solid #004665;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

button {
  border: none;
}

.dr_status_btm button {
  height: 30px;
  background: rgba(146, 167, 199, 0.28);
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #004665;
  border: none;
}

/* ! Dialog Window Truck Status start */
.drivers_status__confirm {
  width: 400px;
  height: 283px;
  background: #fff;
  transition: 0.6s;
  z-index: 100;
  position: absolute;
  top: -1000px;
  left: calc(50% - 200px);
  border-radius: 15px;
}

.drivers_status__confirm.drivers_show {
  top: calc(70% - 10px);
}

.dr_status__confirm_content {
  width: 100%;
  height: 154px;
}

.drivers_status__overlay {
  width: 100%;
  height: 100vh;
  background: rgba(28, 36, 52, 0.67);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.drivers_status__confirm.drivers_show + .drivers_status__overlay {
  display: block;
}
/* ! Dialog Window Truck Status end */

/* ! Truck Status end */

.ToggleSwitch {
  background: linear-gradient(#cccccc6b, #eeeeee82);
  border: 1px solid #004665;
  height: 1em;
  width: 2em;
  border-radius: 1em;
  cursor: pointer;
  margin-right: 8px;
}
.ToggleSwitch .knob {
  position: relative;

  border: 1px solid #004665;
  width: 0.8em;
  height: 0.8em;
  background: #ffffff;
  border-radius: 50%;
  top: 0.05rem;
  left: 0.1em;
  transition: left 0.3s ease-out;
}
.ToggleSwitch .knob.active {
  left: 1em;
  background-color: #004665;
  width: 0.8em;
  height: 0.8em;
}
