.roles_main_cont {
  width: 98%;
  height: 100%;
  margin-top: 1px;
  /* margin-left: 14px; */
}

.roles_inner_cont {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /* border-top: 3px solid #2d4f82; */
}

.role_border {
  width: 97%;
  height: 4px;
  border-top: 3px solid #2d4f82;
  margin-right: 14px;
}

.role_container {
  border-top: 3px solid #2d4f82;
}

/* ! Resizeble table roles style */
.roles_table {
  width: 100%;
  height: 100%;
  display: grid;
  overflow: auto;
  grid-template-columns:
    minmax(90px, 2fr)
    minmax(130px, 4fr)
    minmax(250px, 5fr)
    minmax(150px, 3fr)
    minmax(150px, 3fr)
    minmax(150px, 3fr)
    minmax(150px, 1fr);
}

@media (max-width: 1520px) {
  .roles_table {
    width: 100%;
    height: 100%;
    display: grid;
    overflow: auto;
    grid-template-columns:
      minmax(125px, 2fr)
      minmax(130px, 4fr)
      minmax(250px, 5fr)
      minmax(150px, 3fr)
      minmax(150px, 3fr)
      minmax(150px, 3fr)
      minmax(150px, 1fr);
  }
}
